<div id="sidebar">
	<div id="searchContainer">
		<% if ( typeof selectedNotebook === 'undefined' ) { %>
			<form action="/search" method="get" target="_top" id="searchBox">
				<label id="searchBox_label">
					<input type="text" name="query" placeholder="Search Everything" id="searchField" />
				</label>
				<input title="Search" type="submit" id="searchButton" value />
			</form>
			<% } else { %>
			<form action="/<%= selectedNotebook.id %>/search" method="get" target="_top">
				<input type="search" name="query" placeholder="Search <%= selectedNotebook.name %>" id="searchField" />
				<input title="Search" type="submit" id="searchButton" />
			</form>
		<% } %>
	</div>
	<div id="sharedContainer"></div>
</div>