<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<% include partials/navbar.ejs %>
	<% include partials/sidebar.ejs %>

	<h1 id="searchHeader">Search Results for <%= query %> from <% selectedNotebook.name %></h1>
	<% include partials/results.ejs %>
</body>
</html>