<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<% include partials/navbar.ejs %>

	<div id="body">
		<% include partials/sidebar.ejs %>

		<div id="mainContent">
			<h1 id="searchHeader">Search Results for <%= query %></h1>
		</div>
	</div>
</body>
</html>